.todoList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5%;

  .todo {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .noline {
      font-size: 3rem;
    }
    .linethrough {
      font-size: 3rem;
      text-decoration: line-through;
    }
    .complete {
      cursor: pointer;
      color: green;
      transition: .3s ease;
    }
    .incomplete {
      cursor: pointer;
      transition: .3s ease;
    }
    .trash, .delete {
      cursor: pointer;
      transition: .3s ease;
      &:hover{
        color:red;
        transition: .3s ease;
      }
    }
  }
}